@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Fridge List </h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-success" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New</a>
    </div>
</div>

<br />
<div class="p-4 border rounded">
    <table id="tblData" class="table-bordered border-dark text-gray-900" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>UserName</th>
                <th>Position Name</th>
                <th>Temperature</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/fridge.js"></script>
}