@model IOTManagementGroup7.Models.ViewModels.FridgeVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Fridge";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Fridge.Id != 0)
        {
            title = "Edit Fridge";
            <input type="hidden" asp-for="Fridge.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    UserName
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Fridge.ApplicationUserId, Model.ApplicationUserList, "-Select a UserName",
                   new { @class = "form-control" })
                    <span asp-validation-for="Fridge.ApplicationUserId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Fridge.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Fridge.Name" class="form-control" />
                    <span asp-validation-for="Fridge.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Fridge.Temperature"></label>
                </div>
                <div class="col-1">
                    <input asp-for="Fridge.Temperature" class="form-control" />
                    <span asp-validation-for="Fridge.Temperature" class="text-danger"></span>
                </div>
            </div>
           

            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Fridge.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Fridge.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
