@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<form method="post">
    <div class="row text-gray-900 font-weight-bold p-3 col-8 offset-md-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="col-12 border-bottom">
            <h2 class="text-primary">Thay đổi mật khẩu.</h2>
        </div>
        <div class="col-12 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Password">Mật khẩu</label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-6 offset-md-3">
                    <button type="submit" class="btn btn-outline-info form-control">Thay đổi</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
