<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Create</button>
        @*Because of the method post of FORM that it goes in to Controllor*@
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>