@model IOTManagementGroup7.Areas.Customer.Controllers.UserController.LoginPopupModel

<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegisterModalLabel" style="margin: 0 auto;">ĐĂNG NHẬP</h5>
            </div>
            <div class="modal-body">
                <form id="form_signin" asp-area="Customer" asp-controller="User" asp-action="Login" method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-3"></label>
                        <input asp-for="Email" id="Email" name="Email" class="form-control col-8" />
                        <span asp-validation-for="Email" class="text-danger offset-1"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Password" class="col-3">Mật khẩu</label>
                        <input asp-for="Password" class="form-control col-8" type="password" data-val="true" data-val-remote="Tài khoản và mật khẩu không khớp!"
                               data-val-remote-additionalfields="*.Email,*.Password" data-val-remote-url="/Customer/User/isPasswordCorrect"
                               id="Password" name="Password">
                        <span asp-validation-for="Password" class="text-danger offset-1"></span>
                    </div>
                    <button type="submit" class="btn btn-primary col-6 offset-md-3">Đăng nhập</button>
                    <a href="~/Identity/Account/ForgotPassword" class="col-4 offset-4" >Quên mật khẩu?</a>
                </form>

            </div>
        </div>
    </div>
</div>





