@model IOTManagementGroup7.Models.ViewModels.LightVM

@{
    ViewData["Title"] = "Upsert";
    var title = "Create Light";
}

<form method="post">
    <div class="row p-3 border col-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Light.Id != 0)
        {
            title = "Edit Light";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-12 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label>User Name</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Light.ApplicationUserId, Model.ApplicationUserList, "-Select a UserName",
                   new { @class = "form-control" })
                    <span asp-validation-for="Light.ApplicationUserId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Light.Position"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Light.Position" class="form-control" />
                    <span asp-validation-for="Light.Position" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Light.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Light.Name" class="form-control" />
                    <span asp-validation-for="Light.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Power</label>
                </div>
                <div class="col-8">
                    <input asp-for="Light.PowerStatus" data-on="Turn On" data-off="Turn Off" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" class="form-control" />
                    <span asp-validation-for="Light.PowerStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Connection</label>
                </div>
                <div class="col-8">
                    <input asp-for="Light.ConnectionStatus" data-on="Turn On" data-off="Turn Off" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" class="form-control" />
                    <span asp-validation-for="Light.ConnectionStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Voltage Range</label>
                </div>
                <div class="col-8">
                    <input asp-for="Light.VoltageRange" class="form-control" />
                    <span asp-validation-for="Light.VoltageRange" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Dim: </label>
                    <label id="demo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Light.Dim" type="range" min="1" max="100" value="50" class="col-12" id="myRange" />
                    <span asp-validation-for="Light.Dim" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Source Code: </label>
                    <label id="demo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Light.SourceCode" class="form-control" />
                    <span asp-validation-for="Light.SourceCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-2">
                    @if (Model.Light.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Light.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>
