@model IOTManagementGroup7.Models.ViewModels.TelevisionVM

@{
    var title = "Create Television";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border col-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Television.Id != 0)
        {
            title = "Edit Television";
            <input type="hidden" asp-for="Television.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-12 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    UserName
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Television.ApplicationUserId, Model.ApplicationUserList, "-Select a UserName",
                   new { @class = "form-control" })
                    <span asp-validation-for="Television.ApplicationUserId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Television.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Television.Name" class="form-control" />
                    <span asp-validation-for="Television.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Power</label>
                </div>
                <div class="col-8">
                    <input asp-for="Television.PowerStatus" data-on="Turn On" data-off="Turn Off" checked data-toggle="toggle" data-offstyle="danger" class="form-control" />
                    <span asp-validation-for="Television.PowerStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Television.CurrentChannel"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Television.CurrentChannel" class="form-control" />
                    <span asp-validation-for="Television.CurrentChannel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Television.Volume"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Television.Volume" class="form-control" />
                    <span asp-validation-for="Television.Volume" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label>Recording</label>
                </div>
                <div class="col-8">
                    <input asp-for="Television.RecordingStatus" data-on="Turn On" data-off="Turn Off" checked data-toggle="toggle" data-offstyle="danger" class="form-control" />
                    <span asp-validation-for="Television.RecordingStatus" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-2">
                    @if (Model.Television.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Television.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/rangeslider.js"></script>
}
