
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Fan List </h2>
    </div>
    <div class="col-6 text-right">
        <a asp-controller="Fan" asp-action="Upsert" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; Create New</a>
    </div>
</div>

<br />
<div class="p-4 border rounded">
    <table id="tblData" class="table-bordered border-dark text-gray-900" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>User Name</th>
                <th>Name</th>
                <th>Power Status</th>
                <th>Connection Status</th>
                <th>Speed</th>
                <th>Source Code</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/fan.js"></script>
}